# Node dependencies
node_modules/
dist/
out/
cache/
artifacts/

# Environment files
.env

# Hardhat-specific files
coverage/
coverage.json
typechain/
gasReporterOutput.json

# Logs and system files
*.log
*.lock
